.menu-item-btn ul li{
     color: black !important;
     font-weight: bold;
}
.menu-item-btn ul li a:hover{
     color: rgb(17, 0, 255) !important;
    
}
.slider-img{
    height: 500px;
}
.choose-us p{
    color: rgba(0, 0, 0, 0.463);
}
.choose-service{
    /* width: 100%; */
    color: white;
    padding: 12px;
    background-color: #37b3cc;
}
.choose-service:hover{
   color: black;
    background-color: white;
  
}
.team-btn{
    border: 2px solid rgb(0, 229, 255);
    padding: 6px 14px;
    width: 200px;
}
.team-btn:hover{
    background-color: #37b3cc;
}
.footer-text p{
    font-size: 12px;
    color: rgb(188, 192, 196);
}
@media (max-width:900px) {
    .slider-img{
        height: 70%;
    }
}
